//VARIABLES

$font-stack: 'Be Vietnam', sans-serif;
$BR: hsl(12, 88%, 59%);
$D-B: hsl(228, 39%, 23%);
$D-G-B: hsl(227, 12%, 61%);
$V-D: hsl(233, 12%, 13%);
$V-P-R: hsl(13, 100%, 96%);
$V-L-G: hsl(0, 0%, 98%);

//STYLES
* a {
  text-decoration: none;
}
* li{
  list-style: none;
}
body{
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  background-color:white;
  font-size: 16px;
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 20px 10vw;
  vertical-align: middle;
  img{
    height: 30px;
    margin-top: 15px;
  }
  .nav-links ul li{
    display: inline-flex;
    margin: auto 10px;
    color: $V-D;
    a{
      &:hover{
        color: lightgray;
    }
    }
  }
  .btn{
    height: 40px;
    color: white;
    background-color: $BR;
    margin-top: 10px;
    width: 150px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    &:hover{
      background-color: rgb(211, 102, 102);
    }
  }
  
}
