* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam", sans-serif;
  background-color: white;
  font-size: 16px;
}

@media screen and (min-width: 376px) {
  .menu-toggle {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 10vw;
    vertical-align: middle;
  }
  nav img {
    height: 30px;
    margin-top: 15px;
  }
  nav .nav-links ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: auto 10px;
    color: #1d1e25;
  }
  nav .nav-links ul li a:hover {
    color: lightgray;
  }
  .btn {
    height: 40px;
    color: white;
    background-color: #f25f3a;
    margin-top: 10px;
    width: 150px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #d36666;
  }
  .sec1 {
    margin: 30px 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sec1 .sc1-left {
    padding-top: 40px;
  }
  .sec1 .sc1-right img {
    padding-left: 100px;
  }
  .sec1 h1 {
    font-size: 40px;
    font-weight: 800;
    color: #242d52;
  }
  .sec1 p {
    color: lightgray;
  }
  .sc2 {
    margin: 30px 10vw;
    display: inline;
  }
  .sc2-left {
    float: left;
  }
  .sc2-right {
    float: right;
  }
}

@media screen and (max-width: 375px) {
  .menu-toggle {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
  }
  .menu-toggle:before {
    content: '';
    line-height: 40px;
  }
  .menu-toggle.active:before {
    content: '';
  }
  .nav-links, .btn__start {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px;
    vertical-align: middle;
  }
  nav img {
    margin-top: 5px;
  }
  .sec1 {
    margin: 30px 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .sec1 .sc1-left {
    padding-top: 10px;
  }
  .sec1 .sc1-right img {
    width: 110%;
  }
  .sec1 h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    color: #242d52;
  }
  .sec1 p {
    text-align: center;
    color: lightgray;
  }
  .btn {
    height: 40px;
    color: white;
    background-color: #f25f3a;
    margin-top: 10px;
    width: 150px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #d36666;
  }
  .btn:hover .btn__start {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=app.css.map */