//VARIABLES

$font-stack: 'Be Vietnam', sans-serif;
$BR: hsl(12, 88%, 59%);
$D-B: hsl(228, 39%, 23%);
$D-G-B: hsl(227, 12%, 61%);
$V-D: hsl(233, 12%, 13%);
$V-P-R: hsl(13, 100%, 96%);
$V-L-G: hsl(0, 0%, 98%);

//STYLES
body{
  margin: 0;
  padding: 0;
  background-color:white;
  font-size: 16px;
}
